@using Store444.Dopomoga;
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Деталі замовлення</h1>

<div>
    <h4>Ваше замовлення :3</h4>
    <hr />
    <dl class="row">
        @foreach (var item in Model)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Status)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.DeliveryAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.DeliveryAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.ShipTypeNavigation.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.ShipTypeNavigation.Name)
            </dd>
        }
    </dl>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipTypeNavigation.Name)
                </td>
                <td>
                    @EnumHelper.GetStatus(item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">На головну сторінку</a>
</div>
