@using Store444.Dopomoga;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Головна сторінка</h1>

<p>
    @if (User.IsInRole(AllRoles.Shipper) || User.IsInRole(AllRoles.Admin))
    {
        <a style="margin-right:35px" asp-action="Create">Створити новий продукт</a>

        <a asp-action="Import">Додати продукт за допомогою Excel</a>
        <form asp-action="Export">
            <button class="btn btn-primary" asp-action="Export">Експортувати продукти</button>
        </form>
    }
</p>
<form asp-action="Create" asp-controller="Orders" method="get">

    <button class="btn btn-primary">Купити обрані товари</button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RelaiseFromAndDosing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShelfLife)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelaiseFromAndDosing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShelfLife)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id">Купити |</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Відкрити товар</a>
                        <input class="form-check-input" name="chosenDrugs" value="@item.Id" style="margin-left:100px" type="checkbox" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<div class="container">
    <div id="chart1"></div>
</div>

@section scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Відношення між товарами",
                    width: 500,
                    height: 300
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);

            })
        }
    </script>
}

